* {
  font-family: Calibri;
  font-size: 24px;
}

p {
  margin: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.variables {
  background-color: #f0f0f0;
}

.block {
  background-color: #cccccc;
  box-sizing: border-box;
  padding: 2px 6px;
  display: inline-block;
  border: 1px solid black;
}

.draggable {
  background-color: #eeeeee;
}

.draggable:hover {
  background-color: #eeeeaa;
  cursor: grab;
}

.droppable {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#selected-variables {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
}

#unselected-variables {
  width: 90%;
  padding: 0px 10px;
  margin-bottom: 10px;
  overflow-y: auto;
  height: 100px;
  box-sizing: border-box;
}

#p-values {
  padding: 5px;
  overflow-y: auto;
  margin: 10px;
  height: 350px;
  box-sizing: border-box;
}

#r-squared {
  padding: 5px;
  overflow-y: auto;
  margin: 10px;
  height: 30px;
  box-sizing: border-box;
}

#statistics-container {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.codeblock {
  font-family: Consolas;
  width: 90%;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  overflow-y: auto;
  height: 350px;
  box-sizing: border-box;
  border: 1px solid black
}