.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hint-button {
    border: 2px solid #f44336;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.hint-button:hover {
    background-color: #f44336;
    /* Green */
    color: white;
}


}
.variables {
    background-color: #f0f0f0;
}
.block {
    background-color: #cccccc;
    box-sizing: border-box;
    padding: 4px 9px;
    margin: 2px;
    display: inline-block;
    float: left;
    border: 1px solid black;
}
.draggable {
    background-color: #eeeeee;
}
.draggable:hover {
    background-color: #eeeeaa;
    cursor: grab;
}
.droppable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
#selected-variables {
    width: 750px;
    padding: 5px;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
}
#unselected-variables {
    width: 750px;
    padding: 0px 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 100px;
    box-sizing: border-box;
}
#p-values {
    padding: 5px;
    overflow-y: auto;
    margin: 10px;
    height: 250px;
    box-sizing: border-box;
}
#r-squared {
    padding: 5px;
    overflow-y: auto;
    margin: 10px;
    box-sizing: border-box;
}
#statistics-container {
    width: 750px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
.codeblock {
    font-family: Consolas;
    width: 750px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    overflow: auto;
    height: 350px;
    box-sizing: border-box;
    border: 1px solid black
}
.bar,
.bar-container {
    border-radius: 25px;
    transition: background-color 0.3s ease;
}
.bar,
.bar-description,
.bar-container,
.bar-value {
    display: inline-block;
    float: left;
    height: 100%;
}
.bar-description {
    width: 15%;
}
.bar-container {
    width: 85%;
    height: 100%;
    background-color: #AAA;
    position: relative;
}
.bar {
    height: 100%;
}
.w3-container:after {
    border-bottom: 1px solid #ddd;
    content: '';
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}
.feedback {
    height: 80px;
    overflow-y: auto;
    margin-top: 16px;
    padding: 20px;
}
.correct {
    color: #5c5;
}
.w3-button.correct-button {
    background-color: #7e7;
}
.w3-button.correct-button:hover {
    background-color: #5c5!important;
}
.footmenu {
    overflow: hidden;
    position: fixed;
    height: 20px;
    transition: height 0.6s ease;
    width: 100%;
    background-color: #aaa;
    bottom: 0%;
}
.footmenu-button {
    background-color: #eee;
    height: 20px;
    width: 100%;
}
.footmenu-button:hover {
    cursor: pointer;
    background-color: #eea;
}